{{define "content"}}
	<div class="main-menu">
		<div class="row">
			<div class="columns small-12 text-center">
				<h2>Supplying young businesses since 1908</h2>
				<p>From a child's first business to the most cutting edge
					stands, LSS is ready to support you with ingredients, supplies and
					advertising supplies.</p>
			</div>
		</div>
		<div class="row">
			<div class="columns small-10 small-offset-1">
				<div class="row">
					<div class="columns small-4">
						<img src="/img/lemon_outline.png" alt="lemon" class="lemon" />
						<div class="row">
							<div class="icon columns small-12">
								<img src="/img/tag.png" alt="tag" />
							</div>
						</div>
						<div class="row">
							<div class="columns small-12 text-center label">Sales</div>
						</div>
					</div>
					<div class="columns small-4">
						<a href="shop"> <img src="/img/lemon_outline.png"
															 alt="lemon" class="lemon" />
							<div class="row">
								<div class="icon columns small-12">
									<img src="/img/cart.png" alt="shop" />
								</div>
							</div>
							<div class="row">
								<div class="columns small-12 text-center label">Shop</div>
							</div>
						</a>
					</div>
					<div class="columns small-4">
						<img src="/img/lemon_outline.png" alt="lemon" class="lemon" />
						<div class="row">
							<div class="icon columns small-12">
								<img src="/img/people.png" alt="members" />
							</div>
						</div>
						<div class="row">
							<div class="columns small-12 text-center label">Members</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}