<!DOCTYPE html>
<html>
<head>
<title>Lemonade Stand Supply</title>
<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
	{{template "_header.html"}}
	<div class="row products">
		<div class="columns small-12">
			<div class="row">
				<div class="columns small-3 product">
					<img src="/img/lemon.png" alt="lemon" />
					<a href="shop_detail">
						<h3>Lemon Juice</h3>
					</a>
					<p>
						Made from fresh, organic California lemons. 
					</p>
					<p>
						$1.09 / liter
					</p>
				</div>
				<div class="columns small-3 product">
					<img src="/img/apple.png" alt="apple" />
					<a href="">
						<h3>Apple Juice</h3>
					</a>
					<p>
						The perfect blend of Washington apples.
					</p>
					<p>
						$0.89 / liter
					</p>
				</div>
				<div class="columns small-3 product">
					<img src="/img/watermelon.png" alt="watermelon" />
					<a href="">
						<h3>Watermelon Juice</h3>
					</a>
					<p>
						From sun-drenched fields in Florida.
					</p>
					<p>
						$3.99 / liter
					</p>
				</div>
				<div class="columns small-3 product">
					<img src="/img/kiwi.png" alt="kiwi" />
					<a href="">
						<h3>Kiwi Juice</h3>
					</a>
					<p>
						California sunshine and rain distilled into sweet goodness
					</p>
					<p>
						$5.99 / liter
					</p>
				</div>
			</div>
			<div class="row">
				<div class="columns small-3 product">
					<img src="/img/mangosteen.png" alt="mangosteen" />
					<a href="">
						<h3>Mangosteen Juice</h3>
					</a>
					<p>
						Our latest taste sensation, imported directly from Hawaii
					</p>
					<p>
						$6.87 / liter
					</p>
				</div>
				<div class="columns small-3 product">
					<img src="/img/orange.png" alt="orange" />
					<a href="">
						<h3>Orange Juice</h3>
					</a>
					<p>
						Fresh squeezed from Florida's best oranges.
					</p>
					<p>
						$1.67 / liter
					</p>
				</div>
				<div class="columns small-3 product">
					<img src="/img/pineapple.png" alt="pineapple" />
					<a href="">
						<h3>Pineapple Juice</h3>
					</a>
					<p>
						An exotic and refreshing offering. Straight from Hawaii.
					</p>
					<p>
						$2.48 / liter
					</p>
				</div>
				<div class="columns small-3 product">
					<img src="/img/strawberry.png" alt="strawberry" />
					<a href="">
						<h3>Strawberry Juice</h3>
					</a>
					<p>
						The perfect balance of sweet and tart.
					</p>
					<p>
						$4.36 / liter
					</p>
				</div>
			</div>
		</div>
	</div>
	{{template "_footer.html"}}
</body>
</html>